.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  color: inherit;

  &:focus {
    outline: none;
  }
}
