.app.dark {
  --bg-color: #05055f;
  --inverted-bg-color: #bce4fc;
  --primary-color: #0a870a;
  --secondary-color: #4fe04f;
  --inverted-primary-color: #2354be;
  --inverted-secondary-color: #5945ec;
}
