.app_green_theme {
  --bg-color: #f4fbf9;
  --inverted-bg-color: #0c7255;
  --primary-color: #00cca6;
  --secondary-color: #084e12;
  --inverted-primary-color: #24ffd6;
  --inverted-secondary-color: #77e3c6;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #bee9dd;

  // listbox
  --listbox-bg: #bee9dd;
}
