.app_light_theme {
  --bg-color: #bce4fc;
  --inverted-bg-color: #05055f;
  --primary-color: #5945ec;
  --secondary-color: #2354be;
  --inverted-primary-color: #4fe04f;
  --inverted-secondary-color: #0a870a;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #d6efff;

  // card
  --card-bg: #90c0df;

  // listbox
  --listbox-bg: #90c0df;
}
