.app.light {
  --bg-color: #bce4fc;
  --inverted-bg-color: #05055f;
  --primary-color: #250f77;
  --secondary-color: #4532d2;
  --inverted-primary-color: #0a870a;
  --inverted-secondary-color: #4fe04f;
}
